.venv
env/
venv/
ENV/
.idea
.idea/
.setting_envs/
venv
.vscode
celerybeat-schedule.db
venv_test/
docker-compose-dev.yml
docker-compose.yml
README.md
static/
.coverage
.gitlab-ci.yml
Dockerfile
flower.db
.gitignore
db.sqlite3